<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <mat-card>
      <mat-select placeholder="Favorite food" (valueChange)="onUserChange($event)">
        <mat-option *ngFor="let food of users" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <mat-card>
      <chart [options]="heartRateOption" style="display: block;"></chart>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <chart class="data-chart" [options]="weightOption"></chart>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <chart class="data-chart" [options]="bodyFatOption"></chart>
    </mat-card>
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
    <mat-card>
      <chart [options]="tempOption" style="display: block;"></chart>
    </mat-card>
  </div>
</div>

