<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
	</head>

<!-- 	<body>
		<h1 class="a1">Welcome</h1>
		<p>Your health, Our concern</p>
		<button mat-raised-button color="primary">GET STARTED</button>
	</body> -->
	<body>
		<section class="intro">
			<div class="inner">
				<div class="content">
					<h1>ACESO</h1>
					<p>"Your Health, Our Concern."</p>
<!-- 					<button class="btn" mat-raised-button color="primary">GET STARTED</button>
 -->				<a class="btn" href='../login/login.component.ts'>GET STARTED</a>	
				</div>
			</div>
		</section>
	</body>

</html>