.button-row .wrap{
	display: table-cell;
	border: 3px solid green;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	background-image: "https://static.pexels.com/photos/206359/pexels-photo-206359.jpeg";
	

}