<p>
  client-side works!
</p>
<h3>Raised Buttons</h3>
<div class="button-row">
	<button mat-raised-button color="primarsy">Find a Doctor</button>
	<button mat-raised-button color="primary">Measure Weight</button>
	<button mat-raised-button color="primary">Heart </button>
	<button mat-raised-button color="primary">Primary</button>
	<button mat-raised-button color="primary">Primary</button>
	<button mat-raised-button color="primary">Primary</button>
</div>
<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
